.div_in_details{
        text-align: center;
        padding: auto;
         display: grid; 
/* margin-right: auto; */
/* row-gap: 12px; */
align-items: center;
        justify-content: center;
  }
    

