.personal-info-wrap {
  padding-left: 32px;
  background: var(--dep-child-bg);
  border-top: 2px solid var(--cdr-border-row);
  box-sizing: border-box;

  .wrap-head {
    padding-top: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: var(--header-user-color) !important;
    }

  }

  .top {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: var(--light-blue);
    position: relative;
    margin: 10px 24px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .agents,
    .managers,
    .numbers {
      margin-left: 0 !important;
      // flex-wrap: nowrap;
      overflow-y: auto !important;
    }

    // .managers {
    //   .manager {
    //     width: 430px;
    //   }
    // }

    .agent,
    .manager,
    .number {
      border-bottom: none !important;
      align-items: flex-end;


      .round,
      .name {
        display: flex;
        align-items: flex-end;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        border-radius: initial !important;
        border: none !important;
        width: auto !important;
        color: var(--font-panel);
      }
    }

    .left {
      width: 328px;
      min-width: 280px;
      height: 48px;
      margin-right: 44px;
      display: flex;
      align-items: flex-end;

      .question {
        width: 10px;
        margin-bottom: 12px;
      }
    }

    .right {
      width: 100%;
    }

  }

  .wrap-body {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
    min-height: 205px;

    .agents,
    .numbers {
      min-height: 320px;
    }

    .personal-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__first-part {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .item-container {
          margin: 0 24px 16px 0;

          .label {
            input {
              background-size: 16px;
              width: 280px;
              cursor: pointer;
              padding-left: 12px;

              &::placeholder {
                color: var(--font-panel);
              }
            }

            .triangle {
              position: absolute;
              right: 10px;
              top: 17px;
              cursor: pointer;

              img,
              svg {
                margin-right: -5px;
                transform: rotate(-90deg);
                transition: all .3s ease-in-out;
              }

              &.rotate-arrow {

                img,
                svg {
                  transform: rotate(0deg);
                  transition: all .3s ease-in-out;
                }
              }
            }

            ::v-deep .list {
              width: 280px;
              height: 200px;
              position: absolute;
              top: 48px;
              left: 0;
              display: flex;
              flex-direction: column;
              overflow: auto;
              border-radius: 4px;
              overflow-y: overlay;

              &::-webkit-scrollbar {
                width: 4px;
                /* ширина для вертикального скролла */
                /* высота для горизонтального скролла */
                background-color: transparent;
              }

              &::-webkit-scrollbar-track {
                background-color: var(--dep-child-bg);
              }

              .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 40px;
                padding: 16px;
                color: white;
                position: relative;
                background: var(--queue-select-bg);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);

                &:after {
                  content: '';
                  position: absolute;
                  bottom: -3px;
                  left: 50%;
                  transform: translate(-50%, 0);
                  width: 90%;
                  height: 2px;
                  // background: rgba(255, 255, 255, 0.05);
                  background: var(--list-item-after-border);
                  border-radius: 2px;
                  z-index: 10;
                }

                &:hover {
                  background: var(--light-blue) !important;
                }

                span {
                  font-size: 16px;
                  font-weight: 500;
                }

                span:nth-child(2) {
                  text-align: right;
                }
              }

              .selected {
                background-color: var(--light-blue);
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .users,
  .numbers {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 3px;
    margin-left: 20px;
    max-height: 320px;
    overflow-y: auto;

    .user,
    .number {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 295px;
      height: 45px;
      max-height: 45px;
      min-height: 45px;
      padding: 10px 0;
      margin-right: 50px;
      border-bottom: 2px solid var(--bottom-line);

      span {
        color: var(--font-panel);
      }

      .block {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 180px;
        color: var(--font-panel);

        .round {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid var(--cdr-border-row);
          overflow: hidden;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 117px;
        }
      }

      .union {
        cursor: pointer;
        transition: .3s ease;
        transform: scale(1, 1);

        &:hover {
          transition: .3s ease;
          transform: scale(1.3, 1.3);
        }
      }
    }

    .manager {
      .block {
        .name {
          width: 146px;
        }
      }
    }

    .agent {
      .block {
        .number {
          border-bottom: none;
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin-right: 5px;
          margin-top: -7px;
        }
      }
    }
  }

  .with-err {
    position: relative;
    margin-bottom: 30px;
  }

}

.label-container {
  position: relative;
  margin-right: 10px;

  input[type="checkbox"] {
    opacity: 0;
    color: transparent;
    margin-right: 10px;
    z-index: 9;
    position: relative;

    &:checked~.text {
      color: var(--light-blue);
    }

    &:checked~.check {
      content: '';
      position: absolute;
      opacity: 1;
      top: 0px !important;
      left: 2px;
      width: 16px;
      height: 16px;
      background-image: url("../../../assets/img/icons/checked.svg");
      background-size: cover;
    }

    &~.check {
      content: '';
      position: absolute;
      opacity: 1;
      top: 0;
      left: 2px;
      width: 16px;
      height: 16px;
      background-image: var(--unchecked);
      background-size: cover;
    }

    // &:disabled~.check {
    //   content: '';
    //   position: absolute;
    //   opacity: 1;
    //   top: 1px !important;
    //   left: 2px;
    //   width: 16px;
    //   height: 16px;
    //   background-image: url("../../../assets/img/icons/checked-disable.svg");
    //   background-size: cover;
    // }

    &:disabled+.check {
      position: absolute;
      opacity: 1;
      top: 2px !important;
      left: 2px;
      width: 16px !important;
      height: 16px !important;
      background-image: url("../../../assets/img/icons/disabled-unchecked.svg");
      background-size: cover;
    }

    &:disabled {
      &:checked+.check {
        position: absolute;
        opacity: 1;
        top: 2px !important;
        left: 2px;
        width: 16px !important;
        height: 16px !important;
        background-image: url("../../../assets/img/icons/checked-disable.svg");
        background-size: cover;
      }
    }
  }

  .disabled-checkbox {
    .check {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
  }
}

.collapse {
  height: 16px;
  position: sticky;
  top: 0;
  background-color: var(--dropdown-list-collapse-bg);
  border-radius: 4px;
  margin-bottom: -2px;
  z-index: 999;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  .text {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  .amount {
    margin-right: 24px;
  }
}

@media screen and (min-width: 2561px) {
  .personal-info-wrap {
    .users {
      .user {
        margin-right: 85px;
      }
    }
  }
}

@media screen and (min-width: 2101px) {
  .personal-info-wrap {
    .top {

      .agents,
      .numbers {
  
        .agent,
        .number {
          &:nth-child(4) {
            margin-right: 0;
          }
        }
      }

      .managers {
        .manager {
          width: 410px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .wrap-body {
      .manager {
        width: 410px;
      }
    }
    .users {
      .user {
        margin-right: 40px;
      }
    }
    .numbers {
      .number {
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 2100px) {
  .personal-info-wrap {
    .top {

      .agents,
      .numbers {
  
        .agent,
        .number {
          &:nth-child(4) {
            display: none;
          }
        }

      }

      .managers {
        .manager {
          width: 430px;
          &:nth-child(3) {
            display: none;
          }
          &:not(:nth-child(2n + 1)) {
            margin-right: 0;
          }
        }

      }
    }
    .wrap-body {
      .manager {
        width: 430px;
      }
    }
  }

}


@media screen and (max-width: 1780px) {
  .personal-info-wrap {
    .users {
      .user {
        margin-right: 18px;
      }
    }

    .numbers {
      .number {
        margin-right: 18px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .personal-info-wrap {
    .top {

      .agents,
      .numbers {

        .agent,
        .number {
          &:nth-child(1) {
            margin-right: 130px;
          }
        }

        .agent:nth-child(3) {
          display: none;
        }
      }

      .numbers {
        .number:nth-child(3) {
          display: none;
        }
      }
    }

    .managers {
      .manager {
        width: 390px !important;
        margin-right: 35px !important;
      }
    }

    .wrap-body {

      .agents,
      .numbers {

        .agent,
        .number {
          &:nth-child(2n-1) {
            margin-right: 130px;
          }

          .block {
            .number {
              margin-right: 5px;
            }
          }
        }

        .dnd-drag {
          &:nth-child(2n) {
            .agent {
              margin-right: 18px;
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 1504px) {
  .personal-info-wrap {
    .top {
      .managers {
        .manager:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1408px) {
  .personal-info-wrap {

    .top {

      .agents,
      .numbers {
        justify-content: center;
        margin-right: 0;

        .agent,
        .number {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }

    .users {
      justify-content: center;
      margin-right: 24px;

      .user {
        margin-right: 30px !important;
      }

      .drop-list {
        justify-content: center;
      }
    }

    .numbers {
      .number {
        margin-right: 30px !important;
      }
    }
  }
}
