.horizontal-secondary-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 12px;
  padding-right: 5px;
  position: relative;

  &:hover {
    background: var(--toolbar-bg);
  }

  .btn-item {
    position: absolute;
    left: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
      transform: scale(1, 1);
      transition: transform .2s ease-in-out;

      &:hover {
        transform: scale(1.2, 1.2);
        transition: transform .2s ease-in-out;
      }
    }

    .add-route-btn-span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background: var(--cdr-datepicker-bg);
      background: var(--main-bg);
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px rgba(39, 104, 153, 1);
      cursor: pointer;

      .add-route-btn {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--button-edit-dep-bg);
        color: #276899;
        font-size: 24px;
        transition: .3s ease;
        transform: scale(1, 1);

        &:hover {
          transition: .3s ease;
          transform: scale(1.15, 1.15);
        }
      }

      &.disabled-btn {
        opacity: 0.5;
        cursor: auto;
        box-shadow: none;
      }
    }
  }

  .horizontal-secondary-list-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--font-panel);
    text-align: center;
    position: relative;

    .options-label {
      .input-field {
        margin-left: 10px;
        background: none;
        margin-right: 0;
        text-align: left;
        box-shadow: var(--outbound-input-shadow);
      }

      .triangle {
        width: 90%;
        left: 13px;

        svg {
          fill: transparent;
          stroke: var(--light-blue);
        }
      }

      .list-related-numbers {
        width: 95%;
        left: 10px;

        li {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 5px;
        }
      }
    }

    .status-null {
      display: inline-block;
      width: 13px;
      margin-left: 9px;
      height: 13px;
      border-radius: 50%;
      background: var(--cdr-item-bg);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transform: scale(1, 1);

      &:hover {
        transition: transform .15s ease-in-out;
        transform: scale(1.15, 1.15);
      }
    }

    .status-img {
      margin-left: 9px;
      cursor: pointer;
      transform: scale(1, 1);
      border-radius: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &:hover {
        transition: transform .15s ease-in-out;
        transform: scale(1.15, 1.15);
      }
    }

    .status-block {
      position: relative;

      .status-container {
        position: absolute;
        top: -25px;
        right: -33px;
        background: var(--allowed-block-bg);
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        width: 24px;
        height: 48px;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        z-index: 10;

        img {
          cursor: pointer;
          transition: transform .15s ease-in-out;
          transform: scale(1, 1);
          border-radius: 50%;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

          &:hover {
            transition: transform .15s ease-in-out;
            transform: scale(1.15, 1.15);
          }
        }
      }
    }

    &.item-name {
      width: 20%;
      text-align: left
    }

    &.item-internal-number {
      width: 18%;
    }

    &.item-dep {
      width: 15%;
    }

    &.item-direction {
      width: 20%;

      .options-label {
        .input-field {
          margin-left: 13px;
          width: 110px;
        }

        .triangle {
          left: 11px;
        }
      }
    }

    &.item-number {
      width: 20%;
    }

    &.item-priority {
      width: 10%;

      .allowed-span {
        position: relative;

        &:hover {
          &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            z-index: 10000;
            right: 5px;
            height: 2px;
            width: 21px;
            background: #276899;
            border-radius: 10px;
          }
        }

        .input-priority {
          background: transparent;
          border: none;
          width: 40px;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: var(--font-panel);
          padding-left: 14px;
          outline: none;
        }
      }
    }
  }
}

.red-line {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 1px;
    display: block;
    background-color: red;
    z-index: 100;
  }

  &.allowed-span {
    &::after {
      bottom: -4px;
    }
  }

  &.status-span {
    &::after {
      left: 25%;
      bottom: -4px;
    }
  }
}
